// Place all the styles related to the api/routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-container {
  display: flex;
  margin: 0;
  height: 90.5%;
  width: 100%;
  border-top: 2px solid lightgray;
}

.routes-sidebar-container {
  position: absolute;
  height: 90.5%;
  background-color: white;
  width: 300px;
  border-right: 1px solid #999999;
  left: 0;
}

.routes-sidebar-container form {
  display: flex;
  flex-direction: column;
}

.sidebar-name-input, .sidebar-activity-select {
  color: dimgray;
  width: 250px;
  border: 1px solid #b1b0b0;
  border-radius: 5px;
  padding: 8px 0;
  margin: 10px 0 10px 15px;
  text-indent: 8px;
}

.sidebar-activity-select {
  padding: 9px 0px 9px 0px;
  width: 252px;
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
}

.select-down-arrow {
  // padding-bottom: 3px;
  position: relative;
  vertical-align: center;
  right: 20px;
  bottom: 2px;
  pointer-events: none;
}

.route-form-title {
  font-weight: 500;
  font-size: 14px;
  padding: 10px 10px 10px 15px;
  letter-spacing: 1px;
  background-color: whitesmoke;
}

.name-input-container {
  display: flex;
  flex-direction: row;
}

.sidebar-description-textarea {
  color: dimgray;
  margin-left: 15px;
  border-radius: 4px;
  width: 235px;
  border: 1px solid #b1b0b0;
  padding: 8px;
  padding-top: 2px;
}

.save-route-btn {
  font-weight: 400;
  font-size: 14px;
  padding: 4px;
  width: 120px;
  background-color: #f48e1d;
  color: white;
  border-radius: 5px;
  margin: 10px 0 20px 147px;
  cursor: pointer;
}

.save-route-btn:hover {
  background-color: #db7a0a;
}

.required-field {
  color: red;
  padding-top: 22px;
  padding-left: 10px;
  width: 10px;
}

.required-field-select {
  color: red;
}

#map {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

.fa-caret-left, .fa-caret-right {
  color: #3c98d9;
  font-size: 20px;
  position: absolute;
  left: 300px;
  top: 200px;
  background: red;
  border-top: 1px solid #b1b0b0;
  border-right: 1px solid #b1b0b0;
  border-bottom: 1px solid #b1b0b0;
  background-color: white;
  padding: 5px 8px 5px 3px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.btn-close {
  transition: 0.3s;
  left: 0;
}

.btn-open {
  transition-duration: 0.3s;
  left: 300;
}

.close {
  transition-duration: 0.3s;
  left: -300px;
}

.open {
  transition-duration: 0.3s;
  left: 0;
}

.tool-panel {
  position: absolute;
  top: 200px;
  right: 15px;
  border: 1px black solid;
  box-shadow: 2px 2px 8px #888888;
}

.button-panel-container {
  background-color: whitesmoke;
  height: 250px;
  width: 230px;
}

.distance-title {
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 3px;
  padding-left: 3px;
}

.distance-content {
  font-weight: 600;
  width: 230px;
  font-size: 24px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: 1px;
}

.distance-container {
  color: white;
  background-color: rgba(100, 100, 101, 0.8);
}

.undo-span {
  letter-spacing: 1px;
  font-size: 12px;
  padding-left: 24px;
}

.undo-container:hover, .center-container:hover, 
.reverse-container:hover, .return-container:hover,
.clear-container:hover {
  background-image:linear-gradient(#e6e6e6, #cccccc);
}

.fa-undo-alt {
  font-size: 30px;
  position: absolute;
  left: 47px;
  top: 70px;
  background: -webkit-linear-gradient(darkseagreen, seagreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-compress-arrows-alt {
  position: absolute;
  font-size: 30px;
  right: 52px;
  top: 70px;
  background: -webkit-linear-gradient(darkseagreen, seagreen, darkseagreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-circle-notch {
  position: absolute;
  font-size: 30px;
  background: -webkit-linear-gradient(darkseagreen, seagreen, darkseagreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right: 53px;
  top: 160px;
}

.fa-times {
  position: absolute;
  font-size: 30px;
  background: -webkit-linear-gradient(#ff4d4d, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right: 107px;
  bottom: 32px;
}

.undo-container {
  display: inline-block;
  width: 35%;
  padding-top: 50px;
  padding-bottom: 3px;
  border: 1px gainsboro solid;
  margin: 0 15px 15px 20px;
  margin-top: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.reverse-container {
  display: inline-block;
  width: 35%;
  padding-top: 50px;
  padding-bottom: 3px;
  border: 1px gainsboro solid;
  border-radius: 2px;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

.return-container {
  display: inline-block;
  width: 35%;
  padding-top: 50px;
  padding-bottom: 3px;
  border: 1px gainsboro solid;
  border-radius: 2px;
  cursor: pointer;
}

.clear-container {
  display: inline-block;
  width: 80%;
  border: 1px gainsboro solid;
  border-radius: 2px;
  padding-top: 25px;
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer;
}

.center-span {
  font-size: 12px;
  letter-spacing: 1px;
  padding-left: 15px; 
}

.reverse-span {
  font-size: 12px;
  letter-spacing: 1px;
  padding-left: 13px;
}

.return-span {
  font-size: 12px;
  letter-spacing: 1px;
  padding-left: 15px;
}

.clear-span {
  font-size: 12px;
  letter-spacing: 1px;
  padding-left: 70px;
}

.center-container {
  display: inline-block;
  width: 35%;
  padding-top: 50px;
  padding-bottom: 3px;
  border: 1px gainsboro solid;
  border-radius: 2px;
  margin-left: 5px;
}

.fa-exchange-alt {
  position: absolute;
  left: 46px;
  font-size: 30px;
  top: 160px;
  background: -webkit-linear-gradient(darkseagreen, seagreen);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tools-down-arrow {
  position: absolute;
  font-size: 30px;
  right: 15px;
  top: 6px;
  color: rgb(83, 83, 83);
  cursor: pointer;
}

.hide-toolbar {
  display: none;
}

.route-errors {
  color: red;
  padding: 20px 25px 0 20px;
}

.route-errors li {
  padding-bottom: 4px;
}