// Place all the styles related to the api/routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-container {
  display: flex;
  justify-content: right;
  margin: 0;
  height: 92.5%;
  width: 100%;
}

#map {
  margin: 0;
  width: 100%;
  min-height: 100%;
}