.main-splash-container {
  display: flex;
  height: 1600px;
  width: 1300px;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
}

@media only screen and (max-width: 1300px) {
  .main-splash-container {
    width: 100%;
  }
}

.splash-image {
  width: 1300px;
  height: 800px;
  background-image: image-url('map_my_jog_splash.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-image-2 {
  width: 100%;
  height: 800px;
  background-image: image-url('splash_page_2');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  bottom: 0px;
}

.catch-phrase {
  display: inline-block;
  color: white;
  font-size: 40px;
  font-weight: 900;
  z-index: 1;
  margin-right: 5px;
}

.catch-phrase-2 {
  color: white;
  padding-top: 5px;
  font-size: 40px;
  font-weight: 900;
  z-index: 1;
}

.catch-phrase-2-desc {
  display: inline-block;
  color: white;
  margin-bottom: 7px;
}

.catch-phrase-container {
  width: 430px;
  position: absolute;
  background-color: transparent;
  top: 5%;
  letter-spacing: 2px;
  z-index: 2; 
  margin-left: 900px;
}

.catch-phrase-container-2 {
  width: 430px;
  left: 5%;
  position: absolute;
  background-color: transparent;
  top: 30%;
}

.catch-phrase-2 {
  display: block;
}

.splash-text-container {
  width: 300px;
  position: absolute;
  top: 16%;
  text-align: right;
  color: white;
  margin-left: 870px;
}

// @media only screen and (max-width: 1300px) {
  .splash-text-container {
    right: 65px
  }
// }

// @media only screen and (max-width: 1300px) {
  .catch-phrase-container {
    right: -17px;
  }
// }

.splash-1-hr {
  position: relative;
  width: 20%;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 20%;
}

.splash-2-hr {
  position: relative;
  width: 20%;
  background-color: white;
  margin: 30px 0 30px 0;
}

.slanted-div {
  position: absolute;
  transform: skewY(-6deg);
  background-color: #f5f5f5;
  z-index: 0;
  bottom: 725px;
  height: 150px;
  width: 100%;
}


.splash-app-desc {
  display: inline-block;
  padding-top: 5px;
}

.splash-sign-up-link {
  display: block;
  width: 90%;
  text-align: center;
  background-color: #4bd374;
  padding: 15px 0;
  margin: 30px 0;
  margin-left: 33px;
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: 800;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.splash-sign-up-link:hover {
  background-color: darkgreen;
  transition-duration: 0.2s;
}

.log-in-desc {
  font-size: 14px;
  font-style: italic;
  margin-right: 20px;
}

.splash-login-link {
  text-decoration: none;
  color: white;
  border: 2px white solid;
  padding: 5px 20px;
  border-radius: 3px;
}

.splash-login-link:hover {
  background-color: rgba(211, 214, 219, 0.2);
  transition-duration: 0.2s;
}
